@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin transformCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin coverBg($url) {
  background: url($url) no-repeat center;
  background-size: cover;
}
