@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin transformCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}