.container {
  padding: 0 15px; 
  margin: 0 auto;
  @media  #{$small} {
    padding: 0;
    width: 560px;
  }
  @media #{$medium} {
    width: 860px;
  }
  @media #{$large} {
    width: 1160px;
  }

}
.btn {
  display: inline-block;
  background: $btnBg;
  color: white;
  border: 2px solid transparent;
  padding: 15px 30px;
  vertical-align: middle;
  letter-spacing: 1.5px;
  font-weight: normal;
  text-align: center;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  &:hover {
      color: white;
      background: $btnHover;
      border-color: $btnHover;
  }
}
.btn--outline {
  background: transparent;
  color: $btnBg;
  border: 2px solid $btnBg;
}
.map {
  height: 380px;
}
#mapid {
  height: 100%;
  width: 100%;
}