$x-small: "all and (max-width: 320px)";
$small: "all and (min-width: 600px)";
$medium: "all and (min-width: 900px)";
$large: "all and (min-width: 1200px)";
$vertical: "all and (min-height: 800px)";

$mainFont: 'Montserrat', 'Open Sans', sans-serif;
$mainFontSize: 14px;
$bold: 500;

$fontColor: #30271c;
$titleColor: #a7753a;
$btnHover: #464546;

$bgPrime: #eae7de;
$bgSec: #f2f2f2;
$bgAlt: #ccc;
