$small: "all and (min-width: 600px)";
$medium: "all and (min-width: 900px)";
$large: "all and (min-width: 1200px)";
// $medium: min-width: 900px;
// $large: min-width: 1200px;

$mainFont: 'Varela Round', 'Open Sans', sans-serif;
$mainFontSize: 14px;

$fontColor: #30271c;
$titleColor: #a7753a;

$btnBg: #9d8460;
$btnHover: #464546;

$bgPrime: #eae7de;
// $bgAlt: #f2f2f2;