:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}
html {
    height: 100%;
    transition: all .33s ease-out;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $mainFont;
    background: $mainBg;
    color: $mainFront;
}
