.app-header {
    background: $white;
    overflow: hidden;
    position: relative;
}
.app-header__title {
    text-align: center;
}
.app-header__search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 20px;
    cursor: pointer;
}
