.app-footer {
  @include flexCenter();
  flex-direction: column;
  background: white;
  text-align: center;
  padding-top: 40px;
  p {
    padding: 40px 0;
  }
}
.app-footer__list {
  list-style: none;
  @include flexCenter();
  width: 100%;
}
.app-footer__item {
  padding-left: 20px;
  &:first-child {
    padding-left: 0;
  }
}
.app-footer__link {
  display: block;
  font-size: 20px;
  color: $fontColor;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  border: 1px solid $bgAlt;
  border-radius: 100%;
  &:hover {
    color: white;
    background: $btnBg;
    border-color: $btnBg;
  }
}
.app-footer__img {
  display: inline-block;
}
.app-footer__msg {
  max-width: 640px;
  margin: 0 auto;
}