.app-header {
  min-height: 20%;
  @media #{$vertical} {
    min-height: 15%;
  }
  @include flexCenter();
  overflow: hidden;
  position: relative;
  background: white;
}
.app-header__title {
  text-align: center;
  letter-spacing: 2px;
  @include flexCenter();
  a {
    margin-right: 10px;
    @media #{$medium} {
      margin-right: 30px;
    }
  }
  img {
    @media #{$x-small} {
      width: 75px;
    }
  }
  h1 {
    text-transform: uppercase;
    margin: 0 0 10px 0;
    @media #{$x-small} {
      font-size: 1.2rem;
    }
  }
  h2 {
    @media #{$x-small} {
      font-size: 1rem;
    }
  }
}
