.intro {
    min-height: 80%;
    @media (min-height: 768px) {
      min-height: 50%;
    }
    @include flexCenter();
    flex-direction: column;
    text-align: center;
}
.intro__p-user {
  display: none;
  @media (min-height: 640px) {
    display: block;
  }
}
.intro__p-search {
  display: none;
  @media (min-height: 640px) {
    display: block;
  }
}
.intro__img {
    padding: 30px 0;
}