.wrapper {
  text-align: center;
  @media #{$medium} {
    display: flex;
    justify-content: center;
    width: 860px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  @media #{$large} {
    width: 1160px;
  }
  .results {
    @media #{$medium} {
      flex: 2;
    }
  }
  .map {
    @media #{$medium} {
      flex: 3;
    }
  }
}
.results__list {
  list-style: none;
  padding: 0 15px;
  @media #{$medium} {
    padding: 0 20px 0 0;
  }
}
.results__item {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  @media #{$medium} {
    &:last-child {
      margin-bottom: -20px;
    }
  }
}
.results__link {
  display: block;
  background: white;
  border-left: 3px solid $titleColor;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  padding: 20px;
  margin-bottom: 20px;
  span {
    float: right;
  }
  &:hover {
    box-shadow: 0 1px 7px rgba(0,0,0,.6);
  }
}