.venue-tips {
  position: relative;
  top: -50px;
  font-size: 1.4rem;
  @media #{$x-small} {
    font-size: 1rem;
  }
  h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid $titleColor;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }
}
.tips {
  display: flex;
  align-items: flex-start;
}

.tips__img {
  display: block;
  width: 120px;
  height: 120px;
  margin-right: 20px;
  @media #{$x-small} {
    width: 64px;
    height: 64px;
    margin-right: 10px;
  }
}
.tips__user {
  font-weight: $bold;
}
.tips__text {
  padding: 20px 0;
}
.tips__likes {
  text-align: center;
  color: $titleColor;
  span:first-child {
    padding-right: 40px;
    @media #{$x-small} {
      padding-right: 10px;
    }
  }
}
